<app-header></app-header>
<section class="my-dashboard ">
    <div class="container-fluid">
    <h1>Zonas</h1>
    <app-nav></app-nav>
    <div class="componente-zona">
        <h2>Estado de Zonas</h2>
    </div>
    
    <table class="table table-dark">
        <tbody>
            <tr class="table-active">
        <tr>
            <th>Número de zona</th>
            <th>Habitación</th>
            <th>Cantidad de camas</th>
        </tr>
        <tr>
            <td>Zona 1</td>
            <td>5</td>
            <td>15</td> 
        </tr>
        <tr>
            <td>Zona 2</td>
            <td>8</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Zona 3</td>
            <td>15</td>
            <td>22</td>
        </tr>   
    </tbody>
    </table>
    </div>
</section>
<app-footer></app-footer>
