<app-header></app-header>
    <h1>Reportes</h1>
    <app-nav></app-nav>
    <div class="componente-zona">
        <h2>Estado de Reportes</h2>
    </div>
    
    <table class="table table-dark">
        <tbody>
          <tr class="table-active">
            <tr>
                <th>Numero de llamada</th>
                <th>Fecha de llamada</th>
                <th>Fecha de respuesta</th>
                <th>Promedio de atención</th>
            </tr>
            <tr>
                <td>11233</td>
                <td>2023-09-30/ 9:23 A.M</td>
                <td>2023-09-30/ 11:45 A.M</td>
                <td></td>
            </tr>
            <tr>
                <td>183923</td>
                <td>2023-09-30/ 11:43 A.M</td>
                <td>2023-09-30/ 17:45 P.M</td>
                <td></td>
            </tr>
            <tr>
                <td>83948</td>
                <td>2023-09-30/ 12:23 P.M</td>
                <td>2023-09-30/ 14:45 P.M</td>
                <td></td>
            </tr>
        </tbody>
      </table>
<app-footer></app-footer>

