
	<section class="my-login-page ">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="img-login">
						<img src="./assets/images/codigoazul.png" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">iniciar sesion </h4>
							<form class="my-login-validation" [formGroup]="loginForm">
								<div class="form-group">
									<label for="email">Ingrese su Email</label>
									<input id="email" type="email" class="form-control" name="email" value
										formControlName="email">
									<div class="invalid-feedback">
										Email Invalido
									</div>
								</div>

								<div class="form-group">
									<label for="password">Contraseña
										<a class routerLink="/recuperar"> olvidaste tu Contraseña?</a>
									</label>
									<input id="password" type="password" class="form-control"
										name="password" formControlName="password">
									<div class="invalid-feedback">
										se requiere Contraseña
									</div>
								</div>
								<div id="login-error" class="alert alert-danger d-none">
									Usuario o contraseña incorrectos. Por favor, inténtelo de nuevo.
								</div>
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember"
											class="custom-control-input">
										<label for="remember" class="custom-control-label">Acuerdate de mi</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block"
										(click)="iniciarSesion()">
										Ingresar
									</button>
								</div>
								<div class="mt-4 text-center">
									no tienes una cuenta?<a class routerLink="/registro">Crear cuenta</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; 7mo E.T.P
					</div>
				</div>
			</div>
		</div>
	</section>

