
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="./assets/images/codigoazul.png" alt="">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Agregar paciente</h4>
                        <form method="POST" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="name">Nombre y apellido del paciente</label>
                                <input id="name" type="text" class="form-control" name="name" formControlName="name">
                                <div class="invalid-feedback">
                                    Ingrese nombre del paciente
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">DNI</label>
                                <input id="name" type="text" class="form-control" name="apellido" formControlName="name">
                                <div class="invalid-feedback">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">N° de cama del paciente</label>
                                <input id="email" type="email" class="form-control" name="email" formControlName="email">
                                <div class="invalid-feedback">
                                    se requiere Email
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Enfermero designado</label>
                                <input id="password" type="password" class="form-control" name="password" formControlName="password">
                                <div class="invalid-feedback">
                                    Ingrese enfermero designado
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
                                    <label for="agree" class="custom-control-label">acepto los <a href="#">Terminos y Condiciones</a></label>
                                    <div class="invalid-feedback">
                                        debes aceptar nuestros terminos y condiciones 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Agregar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2023 &mdash; 7mo E.T.P
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
