<app-header></app-header>
    <h1>Registro de Atención Hospitalaria</h1>

    <div class="llamadas-recientes">
        <h2>Llamadas Recientes</h2>
    </div>

    <table class="table table-dark">
        <tbody>
            <tr class="table-active">
        <tr>
            <th>Numero de llamada</th>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Número móvil</th>
            <th>Atendida</th>
            <th>Llamada de emergencia</th>
        </tr>
        <tr>
            <td>01</td>
            <td>2023-30-09</td>
            <td>Alberto Pérez</td>
            <td>2945-518239</td>
            <td><button type="button" class="btn btn-success">SI</button>
                <button type="button" class="btn btn-danger">NO</button></td>
            <td><button type="button" class="btn btn-success">SI</button>
                <button type="button" class="btn btn-danger">NO</button></td>
        </tr>
        </tbody>
    </table>
<app-footer></app-footer>
