
<app-header></app-header>
<app-nav></app-nav>
    <h2>Registro de Atención Hospitalaria</h2>

    <div class="aprobar-usuarios">
        <h3>Aprobar usuarios</h3>
    </div>

    <table class="table table-dark">
        <tbody>
            <tr class="table-active">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Correo electrónico</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>Marcos</td>
                    <td>García</td>
                    <td>43.009.222</td>
                    <td>marcosgarcia@gmail.com</td>
                    <th><button type="button" class="btn btn-success">Aprobar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button></th>
                </tr>
                <tr>
                    <td>Samuel</td>
                    <td>Tocks</td>
                    <td>44.259.167</td>
                    <td>Samueltocks@gmail.com</td>
                    <th><button type="button" class="btn btn-success">Aprobar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button></th>
                </tr>
                <tr>
                    <td>Jorge</td>
                    <td>Arribabuena</td>
                    <td>42.153.234</td>
                    <td>jorgearriba@gmail.com</td>
                    <th><button type="button" class="btn btn-success">Aprobar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button></th>
                </tr>
            </tbody>
        </table>
    <app-footer></app-footer>
